*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header div {
    background-color: rgb(240, 240, 240);
}
img{
    max-width: 110px;
    max-height: 110px;
    padding:10px;
}
h2{
    background-color: white;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    color:#e17054;
    font-size: 25px;
    font-weight: 100;
}

hr {
    color: rgb(236, 236, 236);
}

.sub-heading{
    display: flex;
    justify-content: space-between;
    
}

.sub-head1{
   padding-left: 55px;
   font-size: 20px;
   padding-top: 50px;
}

.sub-head2{
    padding-right: 25em;
    padding-top: 50px;
    font-weight: bolder;
    color: #777777;
 }
.main{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

form{
    display: flex;
    justify-content: space-evenly;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}

.label{
    display: flex;
    flex-direction: column;
    padding-left:50px;
    padding-right: 100px;
    
    
}
label{
    padding-top: 25px;
    padding-bottom: 20px;
}
.form-subsection p{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 40px;
    font-size: 12px;
}

input{
    width: 500px;
    padding: 10px;
    border-style: outset;
}

.input div{
    padding-bottom: 20px;
    padding-top: 5px;
}
.input .range input{
    width: 228px;
}



