.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}
.main-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:320px;
    max-height:400px;
    width: auto;
    height: auto;
    margin-top: -4em;
    padding-bottom: 30px;
}

form div {
    display: flex;
    justify-content:center;
    margin-top: 40px;
}

input[type=submit]{
    margin: 10px;
}

a {
    font-weight: bolder;
    font-size: larger;
}

.search {
    max-width: 28px;
    max-height: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
    
}
.search-box{
    display: flex;
    justify-content: center;
    border: solid rgb(206, 206, 206) 1px;
    border-radius: 50px;
    max-width: 600px;
    max-height: 600px;
    padding:5px;
    margin-left:27.3em;
    margin-top: -5px;
    
}

.search-box:hover{
    box-shadow: 1px 1px 1px 1px rgb(208, 208, 208);
}

input[type=text] {
    border-style: none;
    border-radius: 50px;
    flex-grow: 1;
}

